@import './variables';
@import './loadingOverlay';
@import './keyframes';
@import './resets';
@import './buttons';
@import './game-platform.ext';
@import './mixins';

#app{
  &.loading {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
  }

  &.loaded {
    background: url('../assets/background.jpg');
    background-size: cover;
  }
}

.centered {
  @include centered();
  &.sm {
    width:224px;
  }
  &.md {
    width:500px;
  }
  &.lg {
    width:1000px;
  }
  &.fl {
    width:100%;
  }
}

.page {
  height: 100vh;
  color: $fontPrimary;
}

.btnBack {
  border-radius: 0;
  margin-top: 40vh;
  height: 20vh;
  background-color: black;
  color: white;
  border: 1px solid $borderColor;
  width: 40px;
  position:absolute;
  left:0;
}

.startGame {
  text-align: right;
  border:1px solid $borderColor;
  background-color:black;
  max-width:100%;
  .title {
    text-align:center;
  }
  img {
    width:100%;
  }
}





// base btnList
.btnList {
  .title {
    text-align:center;
  }
}

// show an image as the size of the text
.inlineImage {
  height:1em;
}

// provide borders
.bordered {
    background-color:black;
    border:1px solid $borderColor;
    padding:5px;
}

// TBD where to put this :)
.inGameBtns {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}